/* From Uiverse.io by joe-watson-sbf */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 2px solid #81c784; /* Changed to secondary color */
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    #f1f8e9 60%,
    #c8e6c9 88%,
    #66bb6a 40%,
    rgba(46, 125, 50, 0.6) 48%
  ); /* Using background and primary colors */
  color: #2e7d32; /* Changed to primary color */
}

.flip-card-back {
  background: linear-gradient(
    120deg,
    #66bb6a 30%,
    #2e7d32 88%,
    #f1f8e9 40%,
    #c8e6c9 78%
  ); /* Using primary and background colors */
  color: #ffffff; /* Using text.light color */
  transform: rotateY(180deg);
}
