@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dropDown {
  0% {
    transform: translate(-50%, -150%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.dropDown {
  animation: dropDown 2s ease-out forwards; /* Smoothly end at the final state */
}
